In [99]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib

Using matplotlib backend: MacOSX

In [100]:
data = pd.read_csv('Churn_Modelling.csv')

In [101]:
data.shape

(10000, 14)

In [102]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [103]:
#удаляем столбцы
data.pop('RowNumber')
data.pop('CustomerId')
data.pop('Surname')

0        Hargrave
1            Hill
2            Onio
3            Boni
4        Mitchell
          ...
9995     Obijiaku
9996    Johnstone
9997          Liu
9998    Sabbatini
9999       Walker
Name: Surname, Length: 10000, dtype: object

In [104]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [105]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

In [106]:
data['HasCrCard'] = data['HasCrCard'].astype('object')
data['IsActiveMember'] = data['IsActiveMember'].astype('object')
data['Exited'] = data['Exited'].astype('object')

In [107]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  object
 8   IsActiveMember   10000 non-null  object
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  object
dtypes: float64(2), int64(4), object(5)
memory usage: 859.5+ KB

In [108]:
data.columns = ['A' + str(i) for i in range(1, 11)] + ['class']
data.head()

    A1      A2      A3  A4  A5         A6  A7 A8 A9        A10 class
0  619  France  Female  42   2       0.00   1  1  1  101348.88     1
1  608   Spain  Female  41   1   83807.86   1  0  1  112542.58     0
2  502  France  Female  42   8  159660.80   3  1  0  113931.57     1
3  699  France  Female  39   1       0.00   2  0  0   93826.63     0
4  850   Spain  Female  43   2  125510.82   1  1  1   79084.10     0

In [109]:
#Выделим числовые и категориальные признаки
categorical_columns = [c for c in data.columns if data[c].dtype.name == 'object']
numerical_columns   = [c for c in data.columns if data[c].dtype.name != 'object']
print (categorical_columns)
print (numerical_columns)

['A2', 'A3', 'A8', 'A9', 'class']
['A1', 'A4', 'A5', 'A6', 'A7', 'A10']

In [110]:
data[categorical_columns].describe()

            A2     A3     A8     A9  class
count    10000  10000  10000  10000  10000
unique       3      2      2      2      2
top     France   Male      1      1      0
freq      5014   5457   7055   5151   7963

In [111]:
#Полный перечень значений категориальных признаков
for c in categorical_columns:
    print (data[c].unique())

['France' 'Spain' 'Germany']
['Female' 'Male']
[1 0]
[1 0]
[1 0]

In [112]:
#Гистограмма для каждой количественной переменной
from pandas.plotting import scatter_matrix
scatter_matrix(data, alpha=0.05, figsize=(10, 10));

In [113]:
#Корреляционная матрица
data.corr()

           A1        A4        A5        A6        A7       A10
A1   1.000000 -0.003965  0.000842  0.006268  0.012238 -0.001384
A4  -0.003965  1.000000 -0.009997  0.028308 -0.030680 -0.007201
A5   0.000842 -0.009997  1.000000 -0.012254  0.013444  0.007784
A6   0.006268  0.028308 -0.012254  1.000000 -0.304180  0.012797
A7   0.012238 -0.030680  0.013444 -0.304180  1.000000  0.014204
A10 -0.001384 -0.007201  0.007784  0.012797  0.014204  1.000000

In [16]:
data.count(axis=0)

A1       10000
A2       10000
A3       10000
A4       10000
A5       10000
A6       10000
A7       10000
A8       10000
A9       10000
A10      10000
class    10000
dtype: int64

In [114]:
#Выделим бинарные и небинарные признаки
data_describe = data.describe(include=[object])
binary_columns    = [c for c in categorical_columns if data_describe[c]['unique'] == 2]
nonbinary_columns = [c for c in categorical_columns if data_describe[c]['unique'] > 2]
print (binary_columns, nonbinary_columns)

['A3', 'A8', 'A9', 'class'] ['A2']

In [115]:
#Заменим значения бинарных признаков 
data.at[data['A3'] == 'Female', 'A3'] = 0
data.at[data['A3'] == 'Male', 'A3'] = 1
data['A3'].describe()

count     10000
unique        2
top           1
freq       5457
Name: A3, dtype: int64

In [116]:
data_describe = data.describe(include=[object])
data_describe

            A2     A3     A8     A9  class
count    10000  10000  10000  10000  10000
unique       3      2      2      2      2
top     France      1      1      1      0
freq      5014   5457   7055   5151   7963

In [117]:
#Векторизация небинарных признаков
data_nonbinary = pd.get_dummies(data[nonbinary_columns])
print (data_nonbinary.columns)

Index(['A2_France', 'A2_Germany', 'A2_Spain'], dtype='object')

In [118]:
#Нормализация количественных признаков
data_numerical = data[numerical_columns]
data_numerical = (data_numerical - data_numerical.mean()) / data_numerical.std()
data_numerical.describe()

,A1,A4,A5,A6,A7,A10
count,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04
mean,-4.825473e-16,2.030154e-16,-2.707556e-16,6.186662e-15,-1.041101e-15,3.509659e-15
std,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
min,-3.109349e+00,-1.994869e+00,-1.733229e+00,-1.225786e+00,-9.115379e-01,-1.740181e+00
25%,-6.883242e-01,-6.599855e-01,-6.959470e-01,-1.225786e+00,-9.115379e-01,-8.535508e-01
50%,1.522142e-02,-1.832414e-01,-4.425736e-03,3.319473e-01,-9.115379e-01,1.802717e-03
75%,6.980745e-01,4.842004e-01,6.870955e-01,8.198795e-01,8.076962e-01,8.572002e-01
max,2.063781e+00,5.060944e+00,1.724377e+00,2.795184e+00,4.246164e+00,1.737113e+00

In [119]:
#Соединяем в одну таблицу
data = pd.concat((data_numerical, data[binary_columns], data_nonbinary), axis=1)
data = pd.DataFrame(data, dtype=float)
print (data.shape)
print (data.columns)

(10000, 13)
Index(['A1', 'A4', 'A5', 'A6', 'A7', 'A10', 'A3', 'A8', 'A9', 'class',
       'A2_France', 'A2_Germany', 'A2_Spain'],
      dtype='object')

In [23]:
#Столбцы с входными признаками
X = data.drop(('class'), axis=1)  # Выбрасываем столбец 'class'.
y = data['class']
feature_names = X.columns
print (feature_names)

Index(['A1', 'A4', 'A5', 'A6', 'A7', 'A10', 'A3', 'A8', 'A9', 'A2_France',
       'A2_Germany', 'A2_Spain'],
      dtype='object')

In [24]:
print (X.shape)
print (y.shape)
N, d = X.shape

(10000, 12)
(10000,)

In [121]:
#Разобьем на обучающую и тестовую выборку
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 11)
N_train, _ = X_train.shape 
N_test,  _ = X_test.shape 
print (N_train, N_test)

7000 3000

In [247]:
#АЛГОРИТМЫ ОБУЧЕНИЯ

In [122]:
#Метод ближайших соседей
#Обучение модели
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(X_train, y_train)

KNeighborsClassifier()

In [123]:
y_train_predict = knn.predict(X_train)
y_test_predict = knn.predict(X_test)
err_train = np.mean(y_train != y_train_predict)
err_test  = np.mean(y_test  != y_test_predict)
print ('Ошибка на обучающей выборке:', err_train)
print ('Ошибка на тестовой выборке:', err_test)

Ошибка на обучающей выборке: 0.12171428571428572
Ошибка на тестовой выборке: 0.164

In [124]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import plot_confusion_matrix
accuracy = accuracy_score(y_test, knn.predict(X_test)) 
print ('Доля правильных ответов алгоритма:',accuracy)
precision = precision_score(y_test, knn.predict(X_test)) 
print ('Точность', precision)
recall = recall_score(y_test, knn.predict(X_test)) 
print ('Полнота', recall)
Fscore = f1_score(y_test, knn.predict(X_test))
print ('Точность и полнота в одной метрике', Fscore)
roc_auc = roc_auc_score(y_test, knn.predict(X_test))
print ('Площадь над кривой ошибок', roc_auc)
plot_confusion_matrix(knn, X_test, y_test)

Доля правильных ответов алгоритма: 0.836
Точность 0.6535796766743649
Полнота 0.4528
Точность и полнота в одной метрике 0.5349716446124763
Площадь над кривой ошибок 0.6948210526315789

/Users/ruslanamavlutova/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function plot_confusion_matrix is deprecated; Function `plot_confusion_matrix` is deprecated in 1.0 and will be removed in 1.2. Use one of the class methods: ConfusionMatrixDisplay.from_predictions or ConfusionMatrixDisplay.from_estimator.
  warnings.warn(msg, category=FutureWarning)

In [125]:
#Оптимальное значение k
from sklearn.model_selection import GridSearchCV
n_neighbors_array = [1, 3, 5, 7, 10, 15]
knn = KNeighborsClassifier()
grid = GridSearchCV(knn, param_grid={'n_neighbors': n_neighbors_array})
grid.fit(X_train, y_train)
best_cv_err = 1 - grid.best_score_
best_n_neighbors = grid.best_estimator_.n_neighbors
print ('Ошибка перекрестного контроля:', best_cv_err)
print('Оптимальное значение k:', best_n_neighbors)

Ошибка перекрестного контроля: 0.15328571428571425
Оптимальное значение k: 15

In [127]:
#Ошибки на обучающей и тестовой выборках при k=15
knn = KNeighborsClassifier(n_neighbors=best_n_neighbors)
knn.fit(X_train, y_train)
err_train = np.mean(y_train != knn.predict(X_train))
err_test  = np.mean(y_test  != knn.predict(X_test))
print ('Ошибка на обучающей выборке:', err_train)
print ('Ошибка на тестовой выборке:', err_test)

Ошибка на обучающей выборке: 0.13614285714285715
Ошибка на тестовой выборке: 0.16066666666666668

In [128]:
#Качество классификации 
print ('Доля правильных ответов алгоритма:',accuracy)
precision = precision_score(y_test, knn.predict(X_test)) 
print ('Точность', precision)
recall = recall_score(y_test, knn.predict(X_test)) 
print ('Полнота', recall)
Fscore = f1_score(y_test, knn.predict(X_test))
print ('Точность и полнота в одной метрике', Fscore)
roc_auc = roc_auc_score(y_test, knn.predict(X_test))
print ('Площадь над кривой ошибок', roc_auc)
plot_confusion_matrix(knn, X_test, y_test)

Доля правильных ответов алгоритма: 0.836
Точность 0.7014084507042253
Полнота 0.3984
Точность и полнота в одной метрике 0.5081632653061223
Площадь над кривой ошибок 0.6768842105263158

/Users/ruslanamavlutova/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function plot_confusion_matrix is deprecated; Function `plot_confusion_matrix` is deprecated in 1.0 and will be removed in 1.2. Use one of the class methods: ConfusionMatrixDisplay.from_predictions or ConfusionMatrixDisplay.from_estimator.
  warnings.warn(msg, category=FutureWarning)

In [129]:
#Случайный лес
from sklearn import ensemble
rf = ensemble.RandomForestClassifier(n_estimators=100, random_state=11)
rf.fit(X_train, y_train)
err_train = np.mean(y_train != rf.predict(X_train))
err_test  = np.mean(y_test  != rf.predict(X_test))
print ('Ошибка на обучающей выборке:', err_train)
print ('Ошибка на тестовой выборке:', err_test)

Ошибка на обучающей выборке: 0.0
Ошибка на тестовой выборке: 0.13666666666666666

In [130]:
#Качество классификации
accuracy = accuracy_score(y_test, rf.predict(X_test)) 
print ('Доля правильных ответов алгоритма:',accuracy)
precision = precision_score(y_test, rf.predict(X_test)) 
print ('Точность', precision)
recall = recall_score(y_test, rf.predict(X_test)) 
print ('Полнота', recall)
Fscore = f1_score(y_test, rf.predict(X_test))
print ('Точность и полнота в одной метрике', Fscore)
roc_auc = roc_auc_score(y_test, rf.predict(X_test))
print ('Площадь над кривой ошибок', roc_auc)
plot_confusion_matrix(rf, X_test, y_test)

Доля правильных ответов алгоритма: 0.8633333333333333
Точность 0.7694235588972431
Полнота 0.4912
Точность и полнота в одной метрике 0.599609375
Площадь над кривой ошибок 0.7262315789473685

/Users/ruslanamavlutova/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function plot_confusion_matrix is deprecated; Function `plot_confusion_matrix` is deprecated in 1.0 and will be removed in 1.2. Use one of the class methods: ConfusionMatrixDisplay.from_predictions or ConfusionMatrixDisplay.from_estimator.
  warnings.warn(msg, category=FutureWarning)

In [142]:
#Отбор признаков с помощью случайного леса
importances = rf.feature_importances_
indices = np.argsort(importances)[::-1]
print("Feature importances:")
for f, idx in enumerate(indices):
    print("{:2d}. feature '{:5s}' ({:.4f})".format(f + 1, feature_names[idx], importances[idx]))

Feature importances:
 1. feature 'A4   ' (0.2382)
 2. feature 'A10  ' (0.1474)
 3. feature 'A1   ' (0.1425)
 4. feature 'A6   ' (0.1412)
 5. feature 'A7   ' (0.1334)
 6. feature 'A5   ' (0.0815)
 7. feature 'A9   ' (0.0373)
 8. feature 'A2_Germany' (0.0214)
 9. feature 'A3   ' (0.0195)
10. feature 'A8   ' (0.0181)
11. feature 'A2_France' (0.0102)
12. feature 'A2_Spain' (0.0092)

In [146]:
#Столбцовая диаграмма значимости признаков 
d_first = 12
plt.figure(figsize=(8, 8))
plt.title("Feature importances")
plt.bar(range(d_first), importances[indices[:d_first]], align='center')
plt.xticks(range(d_first), np.array(feature_names)[indices[:d_first]], rotation=90)
plt.xlim([-1, d_first]);

In [144]:
best_features = indices[:8]
best_features_names = feature_names[best_features]
print(best_features_names)

Index(['A4', 'A10', 'A1', 'A6', 'A7', 'A5', 'A9', 'A2_Germany'], dtype='object')

In [147]:
#Градиентный бустинг деревьев решений
from sklearn import ensemble
gbt = ensemble.GradientBoostingClassifier(n_estimators=100, random_state=11)
gbt.fit(X_train, y_train)
err_train = np.mean(y_train != gbt.predict(X_train))
err_test = np.mean(y_test != gbt.predict(X_test))
print ('Ошибка на обучающей выборке:', err_train)
print ('Ошибка на тестовой выборке:', err_test)

Ошибка на обучающей выборке: 0.12485714285714286
Ошибка на тестовой выборке: 0.13933333333333334

In [148]:
#Качество классификации
accuracy = accuracy_score(y_test, gbt.predict(X_test)) 
print ('Доля правильных ответов алгоритма:',accuracy)
precision = precision_score(y_test, gbt.predict(X_test)) 
print ('Точность', precision)
recall = recall_score(y_test, gbt.predict(X_test)) 
print ('Полнота', recall)
Fscore = f1_score(y_test, gbt.predict(X_test))
print ('Точность и полнота в одной метрике', Fscore)
roc_auc = roc_auc_score(y_test, gbt.predict(X_test))
print ('Площадь над кривой ошибок', roc_auc)
plot_confusion_matrix(rf, X_test, y_test)

Доля правильных ответов алгоритма: 0.8606666666666667
Точность 0.7620253164556962
Полнота 0.4816
Точность и полнота в одной метрике 0.5901960784313726
Площадь над кривой ошибок 0.7210105263157894

/Users/ruslanamavlutova/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function plot_confusion_matrix is deprecated; Function `plot_confusion_matrix` is deprecated in 1.0 and will be removed in 1.2. Use one of the class methods: ConfusionMatrixDisplay.from_predictions or ConfusionMatrixDisplay.from_estimator.
  warnings.warn(msg, category=FutureWarning)

In [149]:
#Обучение с использованием найденных значимых признаков
gbt = ensemble.GradientBoostingClassifier(n_estimators=100, random_state=11)
gbt.fit(X_train[best_features_names], y_train)
err_train = np.mean(y_train != gbt.predict(X_train[best_features_names]))
err_test = np.mean(y_test != gbt.predict(X_test[best_features_names]))
print ('Ошибка на обучающей выборке:', err_train)
print ('Ошибка на тестовой выборке:', err_test)

Ошибка на обучающей выборке: 0.124
Ошибка на тестовой выборке: 0.133

In [152]:
accuracy = accuracy_score(y_test, gbt.predict(X_test[best_features_names])) 
print ('Доля правильных ответов алгоритма:',accuracy)
precision = precision_score(y_test, gbt.predict(X_test[best_features_names])) 
print ('Точность', precision)
recall = recall_score(y_test, gbt.predict(X_test[best_features_names])) 
print ('Полнота', recall)
Fscore = f1_score(y_test, gbt.predict(X_test[best_features_names]))
print ('Точность и полнота в одной метрике', Fscore)
roc_auc = roc_auc_score(y_test, gbt.predict(X_test[best_features_names]))
print ('Площадь над кривой ошибок', roc_auc)
plot_confusion_matrix(rf, X_test[best_features_names], y_test)

Доля правильных ответов алгоритма: 0.867
Точность 0.7797029702970297
Полнота 0.504
Точность и полнота в одной метрике 0.6122448979591837
Площадь над кривой ошибок 0.7332631578947368

/Users/ruslanamavlutova/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function plot_confusion_matrix is deprecated; Function `plot_confusion_matrix` is deprecated in 1.0 and will be removed in 1.2. Use one of the class methods: ConfusionMatrixDisplay.from_predictions or ConfusionMatrixDisplay.from_estimator.
  warnings.warn(msg, category=FutureWarning)
/Users/ruslanamavlutova/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names seen at fit time, yet now missing:
- A2_France
- A2_Spain
- A3
- A8

  warnings.warn(message, FutureWarning)

ValueError: X has 8 features, but RandomForestClassifier is expecting 12 features as input.

In [ ]:
#Сэмплирование данных

In [153]:
#Random Undersampling, KNN
from imblearn.under_sampling import RandomUnderSampler
data_under = RandomUnderSampler()
X_under, y_under = data_under.fit_resample(X, y)
X_train_under, X_test_under, y_train_under, y_test_under = train_test_split (X_under, y_under, test_size=0.3)

In [154]:
knn = KNeighborsClassifier() 
knn.fit(X_train_under, y_train_under)
y_train_predict = knn.predict(X_train_under) 
y_test_predict = knn.predict(X_test_under)
err_train = np.mean(y_train_under != y_train_predict)
err_test  = np.mean(y_test_under  != y_test_predict)
print ('Ошибка на обучающей выборке:', err_train)
print ('Ошибка на тестовой выборке:', err_test)

Ошибка на обучающей выборке: 0.17748158540862854
Ошибка на тестовой выборке: 0.2559280457890433

In [86]:
accuracy = accuracy_score(y_test_under, knn.predict(X_test_under)) 
print ('Доля правильных ответов алгоритма:',accuracy)
precision = precision_score(y_test_under, knn.predict(X_test_under)) 
print ('Точность', precision)
recall = recall_score(y_test_under, knn.predict(X_test_under)) 
print ('Полнота', recall)
Fscore = f1_score(y_test_under, knn.predict(X_test_under))
print ('Точность и полнота в одной метрике', Fscore)
roc_auc = roc_auc_score(y_test_under, knn.predict(X_test_under))
print ('Площадь над кривой ошибок', roc_auc)
plot_confusion_matrix(knn, X_test_under, y_test_under)

Доля правильных ответов алгоритма: 0.749795584627964
Точность 0.7751277683134583
Полнота 0.7233704292527822
Точность и полнота в одной метрике 0.7483552631578948
Площадь над кривой ошибок 0.75057410351528

/Users/ruslanamavlutova/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function plot_confusion_matrix is deprecated; Function `plot_confusion_matrix` is deprecated in 1.0 and will be removed in 1.2. Use one of the class methods: ConfusionMatrixDisplay.from_predictions or ConfusionMatrixDisplay.from_estimator.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
#Без сэмплирования данных
#Доля правильных ответов алгоритма: 0.836
#Точность 0.6535796766743649
#Полнота 0.4528
#Точность и полнота в одной метрике 0.5349716446124763
#Площадь над кривой ошибок 0.6948210526315789

In [155]:
#Random Oversampling, Random forest
from imblearn.over_sampling import RandomOverSampler
data_over = RandomOverSampler()
X_over, y_over = data_over.fit_resample(X, y)
X_train_over, X_test_over, y_train_over, y_test_over = train_test_split (X_over, y_over, test_size=0.3)

In [157]:
rf = ensemble.RandomForestClassifier(n_estimators=100, random_state=11)
rf.fit(X_train_over, y_train_over)
err_train = np.mean(y_train_over != rf.predict(X_train_over))
err_test  = np.mean(y_test_over  != rf.predict(X_test_over))
print ('Ошибка на обучающей выборке:', err_train)
print ('Ошибка на тестовой выборке:', err_test)

Ошибка на обучающей выборке: 0.0
Ошибка на тестовой выборке: 0.060066973629133526

In [158]:
accuracy = accuracy_score(y_test_over, rf.predict(X_test_over)) 
print ('Доля правильных ответов алгоритма:',accuracy)
precision = precision_score(y_test_over, rf.predict(X_test_over)) 
print ('Точность', precision)
recall = recall_score(y_test_over, rf.predict(X_test_over)) 
print ('Полнота', recall)
Fscore = f1_score(y_test_over, rf.predict(X_test_over))
print ('Точность и полнота в одной метрике', Fscore)
roc_auc = roc_auc_score(y_test_over, rf.predict(X_test_over))
print ('Площадь над кривой ошибок', roc_auc)
plot_confusion_matrix(rf, X_test_over, y_test_over)

Доля правильных ответов алгоритма: 0.9399330263708665
Точность 0.9092313634607957
Полнота 0.9783873649210307
Точность и полнота в одной метрике 0.9425425425425425
Площадь над кривой ошибок 0.9396574261367381

/Users/ruslanamavlutova/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function plot_confusion_matrix is deprecated; Function `plot_confusion_matrix` is deprecated in 1.0 and will be removed in 1.2. Use one of the class methods: ConfusionMatrixDisplay.from_predictions or ConfusionMatrixDisplay.from_estimator.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
#Без сэмплирования данных
#Доля правильных ответов алгоритма: 0.8633333333333333
#Точность 0.7694235588972431
#Полнота 0.4912
#Точность и полнота в одной метрике 0.599609375
#Площадь над кривой ошибок 0.7262315789473685

In [159]:
#SMOTE, GBT
from imblearn.over_sampling import SMOTE 
data_smote = SMOTE()
X_sm, y_sm = data_smote.fit_resample(X, y)
X_train_sm, X_test_sm, y_train_sm, y_test_sm= train_test_split (X_sm, y_sm, test_size=0.3)

In [160]:
from sklearn import ensemble
gbt = ensemble.GradientBoostingClassifier(n_estimators=100, random_state=11)
gbt.fit(X_train_sm, y_train_sm)
err_train = np.mean(y_train_sm != gbt.predict(X_train_sm))
err_test = np.mean(y_test_sm != gbt.predict(X_test_sm))
print ('Ошибка на обучающей выборке:', err_train)
print ('Ошибка на тестовой выборке:', err_test)

Ошибка на обучающей выборке: 0.12728740581270184
Ошибка на тестовой выборке: 0.13206362494767684

In [161]:
accuracy = accuracy_score(y_test_sm, gbt.predict(X_test_sm)) 
print ('Доля правильных ответов алгоритма:',accuracy)
precision = precision_score(y_test_sm, gbt.predict(X_test_sm)) 
print ('Точность', precision)
recall = recall_score(y_test_sm, gbt.predict(X_test_sm)) 
print ('Полнота', recall)
Fscore = f1_score(y_test_sm, gbt.predict(X_test_sm))
print ('Точность и полнота в одной метрике', Fscore)
roc_auc = roc_auc_score(y_test_sm, gbt.predict(X_test_sm))
print ('Площадь над кривой ошибок', roc_auc)
plot_confusion_matrix(rf, X_test_sm, y_test_sm)

Доля правильных ответов алгоритма: 0.8679363750523231
Точность 0.8774878372401592
Полнота 0.8485885372112917
Точность и полнота в одной метрике 0.862796260056534
Площадь над кривой ошибок 0.8675319735236786

/Users/ruslanamavlutova/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function plot_confusion_matrix is deprecated; Function `plot_confusion_matrix` is deprecated in 1.0 and will be removed in 1.2. Use one of the class methods: ConfusionMatrixDisplay.from_predictions or ConfusionMatrixDisplay.from_estimator.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
#Без сэмплирования данных
#Доля правильных ответов алгоритма: 0.8606666666666667
#Точность 0.7620253164556962
#Полнота 0.4816
#Точность и полнота в одной метрике 0.5901960784313726
#Площадь над кривой ошибок 0.7210105263157894